.dropdown__btn {
  display: flex;
  justify-content: space-between;
  background-color: $pure-white;
  color: $dark-gray;
  padding: $s-size;
  width: 100%;
  border: 0.2rem solid $light-grey;
  border-radius: .4rem;
  cursor: pointer;
}

.dropdown__content {
  display: none;
  position: absolute;
  cursor: pointer;
  outline: none;
  text-align: left;
  background-color: $pure-white;
  font-size: $ml-size;
  width: 100%;
  z-index: 1;
  border: 0.2rem solid $light-grey;
}

.dropdown__content--show {
  display: block
}

.dropdown__sort {
  position: relative;
  width: 50%;
}

.dropdown__text--medium {
  font-size: $ml-size;
}

.dropdown__list {
  background-color: $pure-white;
  font-size: $ml-size;
  padding: $s-size;
  border: 0.2rem solid $light-grey;
  border-right: 0.2rem solid $light-grey;
}

.dropdown-list__item {
  padding: $s-size;
  border: 0.1rem solid $light-grey;
}

.dropdown-list__item:hover {
  background-color: $orange
}

