// Colors
$pure-white: #ffffff;
$light-grey: #dddddd;
$dark-gray: #4A4A4A;
$orange: #ea7f28;
$dark-orange: #D37324;
// Spacing
$s-size: 0.8rem;
$m-size: 1.2rem;
$ml-size: 1.8rem;
$l-size: 2.4rem;
$xl-size: 3.2rem;
$desktop-breakpoint: 45rem;

